sample-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="sample-appFlow" doc:id="b77694eb-cc3d-4e5d-bd1c-de709761c27a" >
		<http:listener doc:name="Listener" doc:id="e2c2f96c-9fd4-4708-a4d1-ff051b59a808" />
		<logger level="INFO" doc:name="Logger" doc:id="f58e988b-037b-4b42-b18d-657db3ab3b98" message='#["process has been completed"]'/>
	</flow>
</mule>
